@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~@fontsource/inter/400.css"; /* Adjust the weight as necessary */
@import "~@fontsource/inter/700.css"; /* Example for bold */


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*
:root {
   dark theme 
  --background-rgb: 0, 0, 0;
  --secondary-rgb: 29, 185, 84;
  --complimentary-rgb: 245, 245, 245;
}
:root {
   light theme 
  --background-rgb: 245, 245, 245;
  --secondary-rgb: 29, 185, 84;
  --complimentary-rgb: 0, 0, 0;
}
:root {
   default theme 
  --background-rgb: 39, 41, 43;
  --secondary-rgb: 29, 185, 84;
  --complimentary-rgb: 245, 245, 245;
}
*/


/* index */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body {
  margin: 0rem;
  background: rgb(39, 41, 43);
  /*linear-gradient(180deg, rgba(29, 185, 84, 1) 46%, rgba(0,0,6,1) 90%);*/;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* app */
* {
  color: whitesmoke;
  margin: 0px;
  overflow-x: hidden;
}

.app {
  background: linear-gradient(180deg, rgba(30,215,96, 1) 46%, rgba(0, 0, 6, 0.388)90%);
}
