/* nav */
li {
  display: inline-block;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.dropdown-btn {
  border-radius: 180rem;
  margin-top: 1rem;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 2rem;
  top: 2.85rem;
  transition-duration: 5s;
  border-color: rgba(255, 255, 255, 0.051);
  z-index: 2000;
}

.dropdown {
  display: block;
}

.dropdown-content a {
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-link {
  padding: .625rem 2rem;
  cursor: pointer;
}

.dropdown-nav {
  background-color: transparent;
}

.dropdown-nav-btn {
  padding: .5rem;
  width: 6.5rem;
  border-radius: 5px;
}

.dropdown-nav-content {
  display: none;
  position: absolute;
  width: 6.5rem;
  right: 2rem;
  top: 3.7rem;
  transition-duration: 5s;
  border-bottom-right-radius: .3rem;
  border-bottom-left-radius: .3rem;
}

.dropdown-nav:hover .dropdown-nav-content {
  display: block;
}

/* dropdown 
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}*/


/* landing section */ 
  h1 {
    font-size: 3.7rem;
    margin: 0rem 1rem;
    padding-top: 6rem;
    line-height: 5rem;
  }
  strong {
    font-weight: 800;
  }
  img {
    height: 38rem;
  }
  .landing {
    background-color: rgba(245, 245, 245, 0.025);

  }
  
/* works */
.works--card {
  background-color: rgba(255, 255, 255, 0.171);
}

/* book card */
.book--card {
    background-color: rgba(50, 50, 50, 0.751);
}
.book--p--time {
  color: rgba(245, 245, 245, 0.853);
}

/* dashboard */ 

/* addlist */
.book--add {
    background-color: rgb(67, 67, 67);
  }  
  .book--icon {
    filter: invert(1);
  }
 .addlist--add {
    margin: 0;
    width: 100%;
  }
  .visible {
    display: block;
}

 .addlist--add--options {
   display: none;
   background-color: rgb(70, 70, 70);
  }

/* shelf page landing section */ 
  .shelf--hr {
    width: 95%;
  }
  .img--arrow {
    filter: invert(.75);
  }


/* bookshelf */ 
.bookshelf {
  display: inline-flex;
}
.bookshelf--section::-webkit-scrollbar {
  display: none;
}

/* queue */
.queue {
  display: flex;
}
.queue--section::-webkit-scrollbar {
  display: none;
}
    
/* reading list */
.readinglist--section {
  display: flex;
}
.readinglist--section::-webkit-scrollbar{
  display: none;
}

/* browse */

.browse--nav {
  background-color: rgba(0, 0, 0, 0.125);
}

.artistCard {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  flex-direction: column;
  align-items: center;
  border-radius: 0.375rem;
  width: 13rem;
  min-width: 13rem;
  height: 18rem;
  min-height: 18rem;
  background-color: rgba(0, 0, 0, 0.337);
}

.artistImg {
  height: 160px;
  display: block;
  margin: 0 auto; 
  padding-bottom: 0.5rem;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.trackImg {
  height: 160px;
  display: block;
  margin: 0 auto;
  padding-bottom: 0.5rem;
}

.cardWrapper {
  margin: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.playlistCard {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  flex-direction: column;
  align-items: center;
  border-radius: 0.375rem;
  width: 13rem;
  min-width: 13rem;
  height: 18rem;
  min-height: 18rem;
  padding: 0.5rem;
}

.playlistImg {
  height: 160px;
  display: block;
  margin: 0;
  padding-bottom: 0.5rem;
}

.playlistList {
  display: block;
  justify-items: center;
}
.playlistCardList {
  display: flex;
  width: 90%;
  border-radius: 10px;
  margin: 1rem auto;
}
.playlistImgList {
  height: 6rem;
  margin: 1rem;
}

 /* footer */
 .footer--hr {
  width: 95%
 }

 /* player */
 .player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(20, 20, 20);
  text-align: center;
  z-index: 1000;
 }
 .playBackground {
  background-color: rgba(0, 0, 0, 0.111);
  padding: .5rem 6rem;
  /* postition: */
 }
 .flowDiv {
  background-color: rgba(255, 255, 255, 0.092);
  border-bottom: none;
 }
 .flowDiv2 {
  background-color: rgba(255, 255, 255, 0.082) ;
  border-top: none;
  /*border-top-color: rgba(255, 255, 255, 0.22);*/
 }
 .inputTimer {
  background-color: rgba(255, 255, 255, 0.22);
  border-radius: 5px;
  width: 3.5rem;
  margin: 1rem;
  font-size: x-large;
  padding-left: 1rem;
 }
 .playerBtn {
  border: 2px solid white;
  background-color: transparent;
  margin: .5rem;
  padding: 1rem;
  border-radius: 180rem;
 }
 .playerBtn:hover {
  background-color: rgb(22 163 74);
  transition: background-color 0.3s ease-in-out;
 }
 .playerBtnSm {
  border: 1px solid white;
  background-color: transparent;
  margin: 1rem;
  padding: .5rem;
  border-radius: 180rem;
 }
 .playerBtnSm:hover {
  background-color: rgb(22 163 74);
  transition: background-color 0.3s ease-in-out;
 }

 .btnIcon {
  height: 2rem;
  width: 2rem;
  filter: invert(1);
 }
 .btnIconSm {
  height: 1.2rem;
  width: 1.2rem;
  margin: .5rem;
  filter: invert(1);
 }
 .btnIconShuffle {
  height: 1.3rem;
  width: 1.3rem;
  margin: 1rem;
  filter: invert(1);
  cursor: pointer;
 }

/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  height: 40px;
  --g: radial-gradient(farthest-side,#0000 calc(95% - 3px),#00ff33 calc(100% - 3px) 98%,#0000 101%) no-repeat;
  background: var(--g), var(--g), var(--g);
  background-size: 30px 30px;
  animation: l9 1s infinite alternate;
}
@keyframes l9 {
  0% {
    background-position: 0 50%, 50% 50%, 100% 50%;
  }
  20% {
    background-position: 0 0, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0 100%, 50% 0, 100% 50%;
  }
  60% {
    background-position: 0 50%, 50% 100%, 100% 0;
  }
  80% {
    background-position: 0 50%, 50% 50%, 100% 100%;
  }
  100% {
    background-position: 0 50%, 50% 50%, 100% 50%;
  }
}

/* display */
.fallBackImg {
  background-color: rgba(0, 0, 0, 0.794);
  height: 150px;
  width: 150px;
  display: block;
  margin: 0.5rem;
}
.fallBackImgList {
  background-color: rgba(0, 0, 0, 0.794);
  width: 6rem;
  height: 6rem;
  margin: 1rem;
}
.fallBackText {
  color: white;
  text-align: center;
}
