/* nav */
li {
  display: inline-block;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

/* drodown */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


  /* landing section */ 
  h1 {
    font-size: 3.7rem;
    margin: 0rem 1rem;
    padding-top: 6rem;
    line-height: 5rem;
  }
  strong {
    font-weight: 800;
  }
  img {
    height: 38rem;
  }
  
  
/* works */
.works--card {
  background-color: rgba(255, 255, 255, 0.171);
}

/* book card */
.book--card {
    background-color: rgba(50, 50, 50, 0.751);
}
.book--p--time {
  color: rgba(245, 245, 245, 0.853);
}


/* addlist */
.book--add {
    background-color: rgb(67, 67, 67);
  }  
  .book--icon {
    filter: invert(1);
  }
 .addlist--add {
    margin: 0;
    width: 100%;
  }
  .visible {
    display: block;
}

 .addlist--add--options {
   display: none;
   background-color: rgb(70, 70, 70);
  }
  

/* shelf page landing section */ 
  .shelf--hr {
    width: 95%;
  }
  .img--arrow {
    filter: invert(.75);
  }


/* bookshelf */ 
.bookshelf {
  display: inline-flex;
}
.bookshelf--section::-webkit-scrollbar {
  display: none;
}

/* queue */
.queue {
  display: flex;
}
.queue--section::-webkit-scrollbar {
  display: none;
}
    
/* reading list */
.readinglist--section {
  display: flex;
}
.readinglist--section::-webkit-scrollbar{
  display: none;
}

/* browse */

.browse--nav {
  background-color: rgba(0, 0, 0, 0.125);
}
 /* footer */
 .footer--hr {
  width: 95%
 }