/* index */
body {
  margin: 0rem;
  background: linear-gradient(180deg, rgba(29, 185, 84, 1) 46%, rgba(0,0,6,1) 90%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* app */
* {
    color: whitesmoke;
    margin: 0px;
    overflow-x: hidden;
  }
  
  .app {
    background: linear-gradient(180deg, rgba(30,215,96, 1) 46%, rgba(0, 0, 6, 0.388)90%);
  }
  
/* nav */
li {
  display: inline-block;
  margin: 1rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

  /* landing section */
  h1 {
    font-size: 3.7rem;
    margin: 0rem 1rem;
    padding-top: 6rem;
    line-height: 5rem;
  }
  strong {
    font-weight: 800;
  }
  img {
    height: 38rem;
  }
  
  
/* works */
.works--card {
  background-color: rgba(255, 255, 255, 0.171);
}

/* book card */
.book--card {
    background-color: rgba(50, 50, 50, 0.751);
}
.book--p--time {
  color: rgba(245, 245, 245, 0.853);
}


/* addlist */
.book--add {
    background-color: rgb(67, 67, 67);
  }  
  .book--icon {
    filter: invert(1);
  }
 .addlist--add {
    margin: 0;
    width: 100%;
  }
  .visible {
    display: block;
}

 .addlist--add--options {
   display: none;
   background-color: rgb(70, 70, 70);
  }
  

/* shelf page landing section */ 
  .shelf--hr {
    width: 95%;
  }
  .img--arrow {
    filter: invert(.75);
  }


/* bookshelf */ 
.bookshelf--section {
  display: inline-flex;
}
.bookshelf--section::-webkit-scrollbar {
  display: none;
}

/* queue */
.queue {
  display: inline-flex;
}
.queue--section::-webkit-scrollbar {
  display: none;
}
    
/* reading list */
.readinglist--section {
  display: inline-flex;
}
.readinglist--section::-webkit-scrollbar{
  display: none;
}


 /* footer */
 .footer--hr {
  width: 95%
 }