* {
 /*background-color: #1ED760;*/
 /*background: linear-gradient(175deg, rgba(30,215,96,1) 22%, rgba(0,0,6,1) 70%);
*/
  color: whitesmoke;
}

section {
  background-color: #1ED760;
}
.header {
   background-color: transparent;

}
h1 {
  font-size: 5rem;
  text-indent: 1rem;
}
