* {
 /*background-color: #1ED760;*/
  color: whitesmoke;
  margin: 0px;
}

.app {
  height: 100vh;
  background: linear-gradient(180deg, rgba(30,215,96,1) 32%, rgba(0,0,6,1) 85%);
}

.header {
   background-color: transparent;
}
h1 {
  font-size: 4rem;
  margin: 0rem 1rem;
  padding-top: 7rem;
}

.bookShelf {
  margin: 1rem;
  padding-top: 2rem;
  background-color: red;
}

.queue {
  margin: 1rem;
  padding-top: 2rem;
  background-color: purple;
}

.wishList {
  margin: 1rem;
  padding-top: 2rem;
  background-color: rgb(255, 4, 46);
}