* {
 /*background-color: #1ED760;*/
  color: whitesmoke;
  margin: 0px;
  overflow-x: hidden;
}

.app {
  background: linear-gradient(180deg, rgba(30,215,96,1) 32%, rgba(0,0,6,1) 85%);
}

.header {
   background-color: transparent;
}


/* landing section */
.landing--section {
  margin: 1rem ;
}
.landing {
  display: inline-flex;
  margin: 1.5rem;
  padding-top: 3rem;
}
h1 {
  font-size: 4rem;
  margin: 0rem 1rem;
  padding-top: 6rem;
}
strong {
  font-weight: 800;
}
img {
  mix-blend-mode: multiply;
  height: 20rem;
  margin-top: 6.5rem;
  margin-right: 2rem;
}


/* bookshelf */
.bookshelf--section {
  margin: 2rem;
  padding-top: 3rem;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.bookshelf--section::-webkit-scrollbar {
  display: none;
}
.bookshelf--h2 {
  padding: 1rem;
}
.bookshelf--container {
  background-color: transparent;
  border: 1px dotted red;
  display: inline-flex;
  width: 100%;
  
}


.book--container {
  background-color: blue;
  
  margin: 1rem;
  border-radius: 10px;
}


/* queue */
.queue--section {
  margin: 4rem 2rem;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.queue--section::-webkit-scrollbar {
  display: none;
}
.queue--h3 {
  padding: 1rem
}
.queue--container {
  background-color: transparent;
  border: 1px dotted purple;
  display: inline-flex;
  width: 100%;
}


/* wish list */
.wishlist--section {
  margin: 4rem 2rem;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.wishlist--section::-webkit-scrollbar{
  display: none;
}
.wishlist--h3 {
  padding: 1rem;
}
.wishlist--container {
  background-color: transparent;
  border: 1px dotted red;
  display: inline-flex;
  width: 100%;
}


/* footer section */
.footer--container {
  margin-top: 3rem;
}
hr { 
  width: 95%;
  margin: auto;
  opacity: 60%;
}
.footer--p {
  text-align: right;
  margin: 2rem;
}