* {
 /*background-color: #1ED760;*/
  color: whitesmoke;
  margin: 0px;
  overflow-x: hidden;
}

.app {
  background: linear-gradient(180deg, rgba(30,215,96,1) 50%, rgba(0, 0, 6, 0.388)95%);
}

.header {
   background-color: transparent;
}


/* landing section */
.landing--section {
  margin: 1rem ;
}
.landing {
  display: inline-flex;
  margin: auto 1rem;
}

.landing--h2 {
  text-align: right;
  color: black;
  font-weight: 700;
}
h1 {
  font-size: 3.7rem;
  margin: 0rem 1rem;
  padding-top: 6rem;
  line-height: 5rem;
}
strong {
  font-weight: 800;
}
img {
  mix-blend-mode: multiply;
  height: 28rem;
  margin-top: 6.5rem;
  margin-left: 1rem;
}

/* footer section */
.footer--container {
  margin-top: 3rem;
}
hr { 
  width: 95%;
  margin: auto;
  opacity: 60%;
}
.footer--p {
  text-align: right;
  margin: 2rem;
}