.nav {
  display: flex;
  justify-content: flex-end;
  background-color: #1ED760;
  /*position: fixed;*/
  width: 100%;
}

.logo {
    background-color: #1ED760;
  }
  .logo--p {
    padding-top: 1rem;
    font-weight: 700;
    padding-right: 45%
  }
  
  ul {
    list-style: none;
    margin-right: 2rem;
  }
  li {
    display: inline-block;
    margin: 1rem;
    font-size: 1rem;
    font-weight: 500;
  }
  .time {
    background-color: transparent;
    /*padding: .3rem .5rem;*/
    padding: .25rem;
    border: 1px double whitesmoke;
    font-size: 1rem;
    width: 5rem;
    text-align: center;
  }
  .time:hover {
    cursor: pointer;
  }
