.img--section {
  text-align: center;
}
.shelf--img {
  margin: auto;
  height: 35rem;
  padding-bottom: 2rem;
}

.shelf--hr {
  width: 95%;
}
.shelf--time {
  text-align: right;
}

/* bookshelf */
.bookshelf--section {
    margin: 2rem;
    padding-bottom: 2rem;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .bookshelf--section::-webkit-scrollbar {
    display: none;
  }
  
  .bookshelf--h2 {
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .bookshelf--container {
    background-color: transparent;
    display: inline-flex;
  }
  
  
  /* book card */
  .book--container {
    background-color: blue;
    margin: 1rem;
    border-radius: 10px;
    height: 15rem;
    width: 15rem;
  }
  .book--ellipsis {
    height: 1.5rem;
    filter: invert(1);
    cursor: pointer;
  }
  
  
  /* queue */
  .queue--section {
    margin:2rem;
    padding-bottom: 2rem;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .queue--section::-webkit-scrollbar {
    display: none;
  }
  .queue--h3 {
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .queue--container {
    background-color: transparent;
    display: inline-flex;
  }
  
  
  /* reading list */
  .readinglist--section {
    margin: 2rem;
    padding-bottom: 2rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: auto;
  }
  .readinglist--section::-webkit-scrollbar{
    display: none;
  }
  .readinglist--h3 {
    padding: 1rem;
  }
  .readinglist--container {
    background-color: transparent;
    display: inline-flex;
  }
  

/* addlist */
.book--add {
  width: 6rem;
  height: 3.6rem;
  background-color: rgb(90, 90, 90);
  /*display: block;*/
  display: none;
}
.addlist {
  padding: 0;
  margin: 0;
}
.addlist--button {
  background-color: transparent;
  border: none;
  padding: .3rem 1rem;
  font-size: .75rem;
  width: 100%;
  cursor: pointer;
  text-align: left;
}
.addlist--button:hover {
  background-color: grey;
}

.addlist--add {
  margin: 0;
  width: 100%;
}
.addlist--add--options {
 /*display: block;*/
 display: none;
 position: absolute;
 top: 50px;
 background-color: rgb(90, 90, 90);
 width: 9rem;
}
.addlist--li {
  cursor: pointer;
  font-size: .75rem;
  padding: .5rem;
  width: 100%;
  margin: 0;
}
.addlist--li:hover {
  background-color: grey;
}

.addlist--remove {
  margin: 0;
  width: 100%;
}