.img--section {
  text-align: center;
}
.shelf--img {
  margin: auto;
  height: 35rem;
}
/* bookshelf */
.bookshelf--section {
    margin: 2rem;
    padding-top: 3rem;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .bookshelf--section::-webkit-scrollbar {
    display: none;
  }
  .bookshelf--h2 {
    padding: 1rem;
  }
  .bookshelf--container {
    background-color: transparent;
    display: inline-flex;
  }
  
  
  /* book card */
  .book--container {
    background-color: blue;
    margin: 1rem;
    border-radius: 10px;
    height: 15rem;
    width: 15rem;
  }
  .book--ellipsis {
    height: 1.5rem;
    filter: invert(1);
    cursor: pointer;
  }
  
  /* queue */
  .queue--section {
    margin: 4rem 2rem;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .queue--section::-webkit-scrollbar {
    display: none;
  }
  .queue--h3 {
    padding: 1rem
  }
  .queue--container {
    background-color: transparent;
    display: inline-flex;
  }
  
  
  /* reading list */
  .readinglist--section {
    margin: 4rem 2rem;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow: auto;
  }
  .readinglist--section::-webkit-scrollbar{
    display: none;
  }
  .readinglist--h3 {
    padding: 1rem;
  }
  .readinglist--container {
    background-color: transparent;
    display: inline-flex;
    

  }
  