@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0rem;
  background: linear-gradient(180deg, rgba(29, 185, 84, 1) 46%, rgba(0,0,6,1) 90%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    color: whitesmoke;
    margin: 0px;
    overflow-x: hidden;
  }
  
  .app {
    background: linear-gradient(180deg, rgba(30,215,96, 1) 46%, rgba(0, 0, 6, 0.388)90%);
  }
  
  /* landing section */
  .landing--section {
    margin: 1rem ;
    text-align: center;
  }
 
  h1 {
    font-size: 3.7rem;
    margin: 0rem 1rem;
    padding-top: 6rem;
    line-height: 5rem;
  }
  strong {
    font-weight: 800;
  }
  img {
    height: 38rem;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    background-color: (29, 185, 84);
    justify-content: space-between;
  }

  .logo--section {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  /* book card */

  .book--container {
    display: inline;
    text-align: center;
  }

  .book--card {
    background-color: rgba(50, 50, 50, 0.751);
    margin-top: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 0rem;
    border-radius: 10px;
    height: 17rem;
    width: 12rem;
    text-align: center;
    overflow: hidden;
  }

  .book--cover {
    height: 10rem;
}

.book--p--time {
  color: rgba(245, 245, 245, 0.853);
}

/* addlist */
  
.book--add {
    background-color: rgb(70, 70, 70);
  }  
  
  .book--icon {
    height: .8rem;
    filter: invert(1);
    padding-right: .5rem;
  }
 .addlist--add {
    margin: 0;
    width: 100%;
  }
  .visible {
    display: block;
}

 .addlist--add--options {
   display: none;
   background-color: rgb(70, 70, 70);
  }
  
  .addlist--li {
    font-size: .75rem;
    width: 100%;
    margin: 0;
  }

.logo {
    background-color: (29, 185, 84);
  }

  li {
    display: inline-block;
    margin: 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
  }

  .img--section {
    text-align: center;
  }
  .shelf--img {
    margin: auto;
    max-width: 80%;
    height: 100%;
    padding-bottom: 2rem;
  }
  
  
  .shelf--hr {
    width: 95%;
  }
  .shelf--time {
    text-align: right;
  }
  
  .top--button--div {
    text-align: right;
    margin-top: 3rem;
    margin-right: 2rem;
    margin-bottom: 2.5rem;
  }
  .top--button--div--bottom {
    text-align: right;
    margin-top: 3rem;
    margin-right: 2rem;
  }
  .top--button {
    cursor: pointer;
    background-color: transparent;
    border-radius: 180px;
    border: none;
  }
  .img--arrow {
    filter: invert(.75);
    height: 3rem;
  }
  
  .book--ellipsis {
    height: 1.5rem;
    filter: invert(1);
    cursor: pointer;
  }

/* bookshelf */ 
.bookshelf--section {
  display: inline-flex;
  /*margin: 2rem;
  margin-bottom: 3rem;
  overflow: auto;
  justify-content: center;*/
  -ms-overflow-style: none;   /* IE and Edge */
  scrollbar-width: none;   /* Firefox */
}
    .bookshelf--section::-webkit-scrollbar {
      display: none;
    }
    
/* queue */

.queue {
  display: inline-flex;
}
    .queue--section::-webkit-scrollbar {
      display: none;
    }
    
/* reading list */
.readinglist--section {
  display: inline-flex;
}
    .readinglist--section::-webkit-scrollbar{
      display: none;
    }

/* works */
.works--card {
     background-color: rgba(255, 255, 255, 0.171);
 }
 
 .works--number {
     background-color: transparent;
     border: 1px double white;
     width: 3rem;
     margin-bottom: .7rem;
     margin-left: auto;
     margin-right: auto;
 }
 .works--h3 {
     margin-bottom: .5rem;
 }

 /*.footer--p {
  margin: 2rem;
}*/